.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%); 
    padding: 0.75rem;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 1em rgba(0 0 0 / 0.3);
    top: 0;
    height: 4rem; /* 64px nav */
    z-index: 9999;
}

.navbar__links {
    display: flex;
    gap: 1rem;
    align-items: center;
   
}

.navbar__logo {
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
}